
@{
    ViewBag.Title = "Index";
}

<div id="searchBlock">
    <h2>Введите ссылку на сайт, например codeinlife.ru</h2>
    <input type="search" id="searchLine" />
    <button id="testWebsite">Тестировать</button>
</div>

<div id="statusBlock">Проверка</div>

<div id="tableBlock"></div>


<script type="text/javascript">
    $(document).ready(function () {

        defaultView();

        $('#testWebsite').click(function (event) {
            event.preventDefault();
            $('#statusBlock').css('display', 'block');
            var a = document.getElementById('statusBlock');
            a.innerHTML = 'Идет тестирование...';//
            postSiteUrl();
            
        });

        
    });

    function defaultView() {
        $('#tableBlock').css('display', 'none');
        $('#statusBlock').css('display', 'none');
    }

    function postSiteUrl() {
        $('#tableBlock').css('display', 'block');

        var site = $('#searchLine').val().trim();
        if ($('#searchLine').val() != '') {
            $.ajax({
                url: '/api/values',
                type: 'POST',
                data: JSON.stringify(site),
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    GetAllLinksTest(data);
                },
                error: function (a, b, c) {
                    var a = document.getElementById('statusBlock');
                    a.innerHTML = 'Ошибка: '  + c ;
                }
            });
        }
    }

    function GetAllLinksTest(id) {
        $.ajax({
            url: '/api/values/' + id,
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                WriteResponse(data);
            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        });
    }

    function WriteResponse(links) {
        var strResult = "<table><th>Ссылка</th><th>Предыдущий тест</th><th>Новый тест</th>";
        $.each(links, function (index, link) {
            strResult += "<tr><td> " + link.Url + "</td><td>" +
            link.LastTest + "</td><td>" + link.NewTest + "</td></tr>";
        });
        strResult += "</table>";

        $('#statusBlock').css('display', 'none');

        $("#tableBlock").html(strResult);
    }
</script>