
@{
    ViewBag.Title = "Index";
}

<h2>Тут будет все</h2>
<div id="searchBlock">
    <p>Введите ссылку на сайт, например codeinlife.ru</p>
    <input type="search" id="searchLine" />
    <button id="testWebsite">Test</button>
</div>
